# Eclipse files
.classpath
.project
.settings/

# Maven build folder
target/

# Build output
bin/
out/

# Compiled files
*.class

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# DB config file 
db.properties